@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="container vw-100">
    <div class="col-12">
        //@@await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
    </div>
</div>
-->
<div class="text-center">
    <h1 class="display-4">Games. Videos. Community.</h1>
    <h2>Welcome to SpookVooper</h2>
    <div class="container align-content-center justify-content-center">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <img class="potatoes" src="/media/unity-1k.png" alt="Vooperian potato planet logo" />
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <hr />
    <br />

    <div class="container align-content-center justify-content-center">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="img-col p-4">
                <h2>The YouTube</h2>
                <img class="mt-4 mb-4" src="/media/spikeviper-1k.webp" alt="Emperor Spike" />
                <p style="text-align:center">The channel is where new videos are posted which expand the world of SpookVooper - it is where this community was born and where it builds its numbers. Support the root of our community and subscribe!</p>
                <div class="g-ytsubscribe" data-channelid="UCmPpv3UMyPVfiHw9T2mbHfQ" data-layout="default" data-count="default"></div>
            </div>
            <div class="img-col p-4">
                <h2>The Valour</h2>
                <img class="mt-4 mb-4" src="/media/valour-logo-512.webp" alt="Vooperian potato soldiers at war" />
                <p style="text-align:center">You are welcome to join our Valour community, where most of our activity lies. Chill with friends, play some games, and remember to be a proud Vooperian! Your activity on Valour results in XP, which you can use anywhere on SpookVooper!</p>
                <div style="max-width:300px"></div>
                <a href="https://valour.gg/">Join Valour!</a>
            </div>
            <div class="img-col p-4">
                <h2>The Twitch</h2>
                <img class="mt-4 mb-4" src="/media/pixelart.png" alt="SpikeViper setting off a nuke in the distance" />
                <p style="text-align:center">Catch me live and suggest some cool ideas on Twitch! I'm live almost daily and I'm ready to watch things get crazy - a few blown up planets and flooded cities can't hurt!</p>
                <div style="max-width:300px"></div>

                <a href="https://twitch.tv/spikeviper">Link to Channel</a>
            </div>
        </div>
    </div>

    <br />
    <hr />

</div>

<footer>
    <script src="https://apis.google.com/js/platform.js"></script>
</footer>